<div class="row">
    <h1>Educación</h1> 
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Ed1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nihil laboriosam quisquam dolore suscipit quidem praesentium enim similique! Ut aliquam illo repudiandae fuga consequuntur, obcaecati ducimus cumque dicta praesentium itaque?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Ed2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nihil laboriosam quisquam dolore suscipit quidem praesentium enim similique! Ut aliquam illo repudiandae fuga consequuntur, obcaecati ducimus cumque dicta praesentium itaque?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Ed3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nihil laboriosam quisquam dolore suscipit quidem praesentium enim similique! Ut aliquam illo repudiandae fuga consequuntur, obcaecati ducimus cumque dicta praesentium itaque?
            </p>
        </ul>
    </div>
</div>
