<div class="row">
    <h1>Acerca de mi</h1>
    <div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/perfil.png" class="img-fluid" id="fotoperfil">
    </div>
<div class="col-xs-12 col-sm- col-md-2 col-lg-2">
    <p id="nombre">Maximiliano Leonel Macellaro</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm- col-md-2 col-lg-4">
    <span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio architecto nobis est, expedita illo sint nulla placeat maxime similique molestias provident eveniet rerum? Voluptatem nesciunt explicabo quo tempora nostrum non!</p>
    </span>
</div>
</div>
